version: '3.7'

x-node-defaults: &node
  tty: true
  init: true
  image: node:10.24
  entrypoint: ["node"]
  working_dir: /root
  restart: always
  volumes:
    - ./:/root:cached
    - ./node_modules:/root/node_modules:delegated
    - yarn-cache:/.yarn-cache

x-env-defaults: &env
  NEW_RELIC_ENABLED: ${NEW_RELIC_ENABLED-0}
  NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY-(unset)}
  NODE_ENV: development
  RECAPTCHA_V3_SITE_KEY: ${RECAPTCHA_V3_SITE_KEY-(unset)}
  RECAPTCHA_V3_SECRET_KEY: ${RECAPTCHA_V3_SECRET_KEY-(unset)}
  # @todo the sendgrid values should be removed once the @base-cms/mailer service is created.
  SENDGRID_API_KEY: ${SENDGRID_API_KEY-(unset)}
  SENDGRID_DEV_TO: basecmsdev@gmail.com
  YARN_CACHE_FOLDER: /.yarn-cache

x-env-leonis: &env-leonis
  GRAPHQL_URI: ${GRAPHQL_URI-https://leonis.graphql.base.parameter1.com}
  OEMBED_URI: ${OEMBED_URI-https://leonis.oembed.base.parameter1.com}
  RSS_URI: ${RSS_URI-https://leonis.rss.base.parameter1.com}
  SITEMAPS_URI: ${SITEMAPS_URI-https://leonis.sitemaps.base.parameter1.com}

x-env-tauron: &env-tauron
  GRAPHQL_URI: ${GRAPHQL_URI-https://tauron.graphql.base.parameter1.com}
  OEMBED_URI: ${OEMBED_URI-https://tauron.oembed.base.parameter1.com}
  RSS_URI: ${RSS_URI-https://tauron.rss.base.parameter1.com}
  SITEMAPS_URI: ${SITEMAPS_URI-https://tauron.sitemaps.base.parameter1.com}
  BASE_BROWSE_GRAPHQL_URI: ${BASE_BROWSE_GRAPHQL_URI-https://base-browse.tauron.base.parameter1.com/graphql}

x-env-development: &env-development
  GRAPHQL_URI: ${GRAPHQL_URI-http://host.docker.internal:10002}
  OEMBED_URI: ${OEMBED_URI-http://host.docker.internal:10013}
  RSS_URI: ${RSS_URI-http://host.docker.internal:10011}
  SITEMAPS_URI: ${SITEMAPS_URI-http://host.docker.internal:10009}

x-site-command: &site-cmd
  entrypoint: ["node_modules/.bin/basecms-website"]
  command: ["dev", "index.js"]

volumes:
  yarn-cache: {}

services:
  terminal:
    <<: *node
    working_dir: /root
    entrypoint: ["/bin/bash"]
    environment:
      <<: *env

  yarn:
    <<: *node
    working_dir: /root
    entrypoint: ["yarn"]
    environment:
      <<: *env

  hh:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/hearthubs.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9810
      LIVERELOAD_PORT: 19810
      TENANT_KEY: ascend_hh
      SITE_ID: 5e79147a9610c96162e3a0bc
    ports:
      - "9810:80"
      - "19810:19810"

  qcor:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/qcor.hub.heart.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9811
      LIVERELOAD_PORT: 19811
      TENANT_KEY: ascend_hh
      SITE_ID: 5f09f138c6eb965e078b4568
    ports:
      - "9811:80"
      - "19811:19811"

  bcvs:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/bcvs.hub.heart.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9812
      LIVERELOAD_PORT: 19812
      TENANT_KEY: ascend_hh
      SITE_ID: 5f09c343c6eb96c0068b4573
    ports:
      - "9812:80"
      - "19812:19812"

  vasculardiscovery:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/vasculardiscovery.hub.heart.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9813
      LIVERELOAD_PORT: 19813
      TENANT_KEY: ascend_hh
      SITE_ID: 5f09f15dc6eb965f078b456f
    ports:
      - "9813:80"
      - "19813:19813"

  hypertension:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/hypertension.hub.heart.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9814
      LIVERELOAD_PORT: 19814
      TENANT_KEY: ascend_hh
      SITE_ID: 5f09c37bc6eb96a9058b4579
    ports:
      - "9814:80"
      - "19814:19814"

  minexpo:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/minexpo.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9815
      LIVERELOAD_PORT: 19815
      ALGOLIA_API_KEY: ${ALGOLIA_API_KEY}
      ALGOLIA_APP_ID: ${ALGOLIA_APP_ID}
      ALGOLIA_DEFAULT_INDEX: ${ALGOLIA_DEFAULT_INDEX}
      TENANT_KEY: ascend_minex
      SITE_ID: 5f2c4e7900d6f47b4ca70040
    ports:
      - "9815:80"
      - "19815:19815"

  sessions:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/sessions.hub.heart.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9816
      LIVERELOAD_PORT: 19816
      TENANT_KEY: ascend_hh
      SITE_ID: 5f69318496e7bf68228b4597
      NATIVE_X_BLOCK: "true"
      RESTRICT_RIGHT_RAIL_DISPLAY: "true"
    ports:
      - "9816:80"
      - "19816:19816"

  imex:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/imex.ascendmedia.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9817
      LIVERELOAD_PORT: 19817
      TENANT_KEY: ascend_hh
      SITE_ID: 5f69316296e7bf68228b4595
    ports:
      - "9817:80"
      - "19817:19817"

  isc:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/isc.hub.heart.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9818
      LIVERELOAD_PORT: 19818
      TENANT_KEY: ascend_hh
      SITE_ID: 5fa07807adb660cb238b45a9
      NATIVE_X_BLOCK: "true"
    ports:
      - "9818:80"
      - "19818:19818"

  bulletin:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/bulletin.entnet.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9919
      LIVERELOAD_PORT: 19919
      TENANT_KEY: ascend_hh
      SITE_ID: 6001de6ce8e95f05158b4577
    ports:
      - "9919:80"
      - "19919:19919"

  aua:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/auadailynews.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9920
      LIVERELOAD_PORT: 19920
      TENANT_KEY: ascend_hh
      SITE_ID: 60747a8880a4312e028b45d6
      CONTENT_PAGE_LOAD_MORE: "true"
      NATIVE_X_BLOCK: "true"
    ports:
      - "9920:80"
      - "19920:19920"

  aad:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/aadmeetingnews.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9921
      LIVERELOAD_PORT: 19921
      TENANT_KEY: ascend_hh
      SITE_ID: 60c7666d46f24a64538b458d
      NATIVE_X_BLOCK: "true"
      RESTRICT_RIGHT_RAIL_DISPLAY: "true"
      CONTENT_PAGE_LOAD_MORE: "true"
    ports:
      - "9921:80"
      - "19921:19921"

  asa:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/asa.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9922
      LIVERELOAD_PORT: 19922
      TENANT_KEY: ascend_hh
      SITE_ID: 611a7eaf3fdb1225198b45a3
      NATIVE_X_BLOCK: "true"
      RESTRICT_RIGHT_RAIL_DISPLAY: "true"
    ports:
      - "9922:80"
      - "19922:19922"

  acep:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/acep.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9923
      LIVERELOAD_PORT: 19923
      TENANT_KEY: ascend_hh
      SITE_ID: 611a92384931c530198b45bf
      NATIVE_X_BLOCK: "true"
      RESTRICT_RIGHT_RAIL_DISPLAY: "true"
    ports:
      - "9923:80"
      - "19923:19923"

  aao:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/aao.hns.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9924
      LIVERELOAD_PORT: 19924
      TENANT_KEY: ascend_hh
      SITE_ID: 611bb90b0fa7e3b2258b458c
      NATIVE_X_BLOCK: "true"
    ports:
      - "9924:80"
      - "19924:19924"

  ashp:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/ashp.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9925
      LIVERELOAD_PORT: 19925
      TENANT_KEY: ascend_hh
      SITE_ID: 611bbf5d4c3ae90e268b4592
      NATIVE_X_BLOCK: "true"
      RESTRICT_RIGHT_RAIL_DISPLAY: "true"
    ports:
      - "9925:80"
      - "19925:19925"

  shm:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/shm.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9926
      LIVERELOAD_PORT: 19926
      TENANT_KEY: ascend_hh
      SITE_ID: 616db80fb973b9f0308b45aa
      NATIVE_X_BLOCK: "true"
      RESTRICT_RIGHT_RAIL_DISPLAY: "true"
    ports:
      - "9926:80"
      - "19926:19926"

  imex-ff:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/imexfrankfurt.ascendmedia.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9927
      LIVERELOAD_PORT: 19927
      TENANT_KEY: ascend_hh
      SITE_ID: 6228b5a440412800498b456f
    ports:
      - "9927:80"
      - "19927:19927"

  pulmonary:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/ampulmonary.com
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9928
      LIVERELOAD_PORT: 19928
      TENANT_KEY: ascend_hh
      SITE_ID: 62f156eeb42f9308288b45e8
      HOST: www-ascend-pulmonary.dev.parameter1.com
    hostname: www-ascend-pulmonary.dev.parameter1.com
    ports:
      - "9928:80"
      - "19928:19928"

  template:
    <<: *node
    <<: *site-cmd
    working_dir: /root/sites/examplesite.org
    environment:
      <<: *env
      <<: *env-tauron
      PORT: 80
      EXPOSED_PORT: 9999
      LIVERELOAD_PORT: 19999
      TENANT_KEY: ascend_hh
      SITE_ID: 60c7666d46f24a64538b458d
    ports:
      - "9999:80"
      - "19999:19999"
