.site-footer {
  $self: &;
  &__logo {
    margin-bottom: map-get($spacers, block);
    filter: none;
    @include media-breakpoint-down(sm) {
      height: $theme-site-footer-logo-height-sm;
    }
  }
  &__wrapper {
    @media (min-width: $marko-web-document-container-max-width) {
      max-width: $marko-web-document-container-max-width;
      margin: 0 auto;
    }
  }
  &__container {
    &--secondary {
      background-color: $light;
    }
    &--primary {
      #{ $self }__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  &__social-icons {
    padding-bottom: map-get($spacers, block);
    margin: auto 0;
  }

  @include media-breakpoint-down(sm) {
    &__social-icons {
      .marko-web-icon--xl svg {
        width: 1.75em;
        height: 1.75rem;
      }
    }
  }
}
