
<marko-web-gam-display-ad id="gpt-ad-rail1" />

<daily-native-x-list-block
  placement-name="default"
  aliases=input.aliases
  limit=6
  collapsible=true
/>

<marko-web-gam-display-ad id="gpt-ad-rail2" class="mt-block-lg" />
