@import "@ascend-media/package-global/scss/variables";

$primary: #dbecf8;
$secondary: #092640;

$theme-site-navbar-logo-height: 100px;
$theme-site-navbar-logo-height-sm: 30px;
$theme-site-footer-logo-height: 100px;
$theme-site-footer-logo-height-sm: 50px;
$theme-site-footer-primary-bg-color: #00567a;
$theme-site-footer-secondary-bg-color: $primary;
$theme-site-footer-copyright-color: #fff;
$theme-site-navbar-primary-bg-color: $secondary;
$theme-site-navbar-secondary-bg-color: $primary;
$theme-site-navbar-secondary-type: light;


@import "@ascend-media/package-global/scss/theme";

.page-contents {
  &__content-body a {
    color:#bd2633;
  }
}

.page-contact-details {
  &__content-website a {
    color: #00567a
  }
}
.node-list {
  &__header {
    background-color: #00567a;
  }
}

.node {
  &__header a {
    color: #57262f;
  }
  &__footer-left a {
    color: $secondary;
  }
  &__footer-right {
    white-space: nowrap;
  }
}

.site-footer {
  &__container--secondary {
    background-color: #fff;
  }
}

.site-navbar {
  &--primary {
    .site-navbar {
      &__link {
        color: #fff;
      }
      &__link--active {
        color: #bd2633;
      }
    }
  }
  &--secondary {
    .site-navbar {
      &__link {
        color: $secondary;
      }
    }
  }
  &__items {
    &--tertiary {
      .site-navbar {
        &__link {
          svg {
            fill: $secondary;
          }
        }
      }
    }
  }
  &__toggler {
    .marko-web-icon {
      svg {
        fill: $secondary;
      }
    }
  }
}
