@import "@ascend-media/package-daily/scss/variables";

$primary: #D20A60;
$secondary: #da291c;
$tertiary: #3a3839;

$theme-site-navbar-logo-height: 100px;
$theme-site-navbar-logo-height-sm: 50px;
$theme-site-footer-logo-height: 100px;
$theme-site-footer-logo-height-sm: 50px;
$theme-site-footer-primary-bg-color: $primary;
$theme-site-footer-secondary-bg-color: $primary;
$theme-site-footer-copyright-color: $light;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-secondary-bg-color: #f2f2f2;
$theme-site-navbar-secondary-type: dark;
$theme-hero-teaser-bg-color: $secondary;
$theme-site-navbar-secondary-link-color: $tertiary;
$theme-site-navbar-tertiary-link-color: $tertiary;
$theme-hero-teaser-bg-color: $tertiary;


@import "@ascend-media/package-daily/scss/theme";

.body-wrapper {
  display: block;
  flex-direction: column;
  height: auto;
}

.page-contents {
  &__content-body{
    color: #3a3839;
    a {
      color: #191D4E;
      :hover {
        color: #4d92cf;
        text-decoration: underline;
      }
    }
  }
}


.site-navbar__items--tertiary .site-navbar__link--active svg, .site-navbar__items--tertiary .site-navbar__link:hover svg {
  fill:#4d92cf;
}

.site-navbar__items--tertiary .site-navbar__link--active svg, .site-navbar__items--tertiary .site-navbar__link:active svg {
  fill:#4d92cf;
}

.site-navbar__items--tertiary .marko-web-icon:hover svg {
  fill: #4d92cf;
}

button.site-navbar__toggler:hover {
    svg {
      fill: #4d92cf !important;
    }
  }

.site-navbar__items--secondary {
  li {
    padding-top: 4px;
    a.site-navbar__link {
      :hover {
        color: #4d92cf;
      }
    }
  }
  li:first-child {
    background-color: #f2716f !important;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 18px;
    padding-top: 0px;
    a {
      padding: 0px 10px;
      color: #fff;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.page-images-gallery {
  &__col {
    img {
      max-width: 100%;
    }
    align-self: center;
    padding-bottom: map-get($spacers, block);
  }
}
