@import "@ascend-media/package-global/scss/variables";

$primary: #202944;
$secondary: #57262f;

$theme-site-navbar-logo-height: 100px;
$theme-site-navbar-logo-height-sm: 30px;
$theme-site-footer-logo-height: 100px;
$theme-site-footer-logo-height-sm: 50px;
$theme-site-footer-primary-bg-color: $primary;
$theme-site-footer-secondary-bg-color: $primary;
$theme-site-footer-copyright-color: #fff;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-secondary-bg-color: #c9187e;
$theme-site-navbar-secondary-type: light;


@import "@ascend-media/package-global/scss/theme";

.node {
  &__footer-left a {
    color: #795259;
  }
  &__footer-right {
    display: none;
  }
  &__header a {
    color: #00a6b6;
  }
  &__header {
    color: #795259;
  }
}

.node-list {
  &--native-x-list {
    $self: &;
    .node-list {
      &__header {
        background-color: #c9187e;
      }
      &__nodes {
        background-color: #d6d3c4;
      }
      &__node {
        .node {
          background-color: #d6d3c4;
        }
      }
    }
  }
}

.site-navbar {
  $self: &;
  &--primary {
    .site-navbar {
      &__link {
        color: $white;
      }
    }
  }
  &--secondary {
    .site-navbar {
      &__link {
        color: $white;
      }
    }
  }
  &__items {
    &--secondary {
      #{ $self } {
        &__item {
          &:first-child {
            font-weight: 700;
          }
        }
      }
    }
    &--tertiary {
      .site-navbar {
        &__link {
          svg {
            fill: $white;
          }
        }
      }
    }
  }
  &__toggler {
    .marko-web-icon {
      svg {
        fill: $white;
      }
    }
  }
}

.site-footer {
  &__container--secondary,
  &__container--primary {
    background-color: #202944;
  }
  .row {
    width: 100%;
  }
  .logos {
    width: 33%;
  }
  .text {
    @include media-breakpoint-down(sm) {
      display: contents;
    }
    width: 44%;
    font-weight: 500;
    text-align: left;
    color: #fff;
  }
}

.marko-web-icon--twitter {
  svg {
    fill: #fff !important;
  }
}
